@import 'variables';
@import 'mixins';
@import 'functions';

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: $v-font-size-default;
}
body {
  font-weight: normal;
  font-family: $v-color-font-family;
  color: $v-color-font;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  text-rendering: optimizeLegibility;
  background: $v-color-bg no-repeat;
  word-wrap: break-word;
}

a {
  transition: all 0.3s ease;
  &:hover {
    color: #ccc;
  }
}

.cm {
  box-sizing: border-box;
  background: repeating-linear-gradient(
    45deg,
    rgba(245, 245, 245, 0.1),
    rgba(245, 245, 245, 0.1) 10px,
    rgba(136, 136, 136, 0.2) 0,
    rgba(136, 136, 136, 0.2) 20px
  );
  border: solid 1px rgba(68, 68, 68, 0.2);
}

@media all and (-ms-high-contrast: none) {
  /* IE10 以降にのみ適用される */
  .ie-block {
    display: block;
  }
  .ie-hidden {
    display: none;
  }
}

// ==================================================
// debug関連
// ==================================================
.check-mode {
  * [class*='__outer'] {
    outline: #dc143c 2px solid;
  }
  * [class*='__bl'] {
    border: #0000ff 2px solid;
  }
  * [class*='__el'] {
    border: #ffd700 2px solid;
  }
}
.check-mode-outer {
  * [class*='__outer'] {
    outline: #dc143c 2px solid;
  }
}
.check-mode-bl {
  * [class*='__bl'] {
    border: #0000ff 2px solid;
  }
}
.check-mode-el {
  * [class*='__el'] {
    border: #ffd700 2px solid;
  }
}

.rulers__outer {
  // width: 100vw;
  // height: 100vh;
  color: #fff;
  position: fixed;
  top: 50%;

  // transform: translateX(-50%);
  > .inner {
    position: relative;
    height: 100%;
    .outer {
      position: absolute;
      top: 50%;
      transform: translate(-100%, -50%);
      margin-left: 100vw;
      width: 5rem;
      background: rgba(0, 0, 0, 0.7);
      height: 100vh;

      .inner {
        position: relative;
        height: 100%;
        .wnum,
        .hnum,
        .snum {
          font-size: 12px;
        }
        .line {
          position: absolute;
          top: calc(50% + -1px);
          right: 0;
          background: #fff;
          height: 1px;
          width: 100vw;
        }
      }
    }
  }
}

// ===================================================
// header
// ===================================================

.aside__outer {
  width: 254px;
}
