// ===================================================
// header
// ===================================================
.header__outer  {
  padding: 1.875rem;
  background: #f3f6f9;
}

.aside__outer {
  width: 254px;
}